
.card-container {
  text-align: center;
  padding: 5rem;
}

.item_bg {
  background-color: rgb(123, 136, 136);
  min-width: 15rem;
  border-radius: 5px;
}

.item_bg:hover {
  background-color: antiquewhite;
  transition:200ms
}

.title {
  padding: 2rem;
  color: black;
}



